.gradle/
build/
*/build/

diff

.nyc_output
build
node_modules
src/**.js
coverage
*.log
yarn.lock
generated/
dist/
kotlin/gradle.properties
kotlin/plugin/gradle.properties
.idea/compiler.xml
.idea/kotlinc.xml
.idea/vcs.xml